@font-face {
    font-family: Neuropol;
    src: url(../fonts/neuropol/neuropol.ttf);
}
@font-face {
    font-family: Neuropol X;
    src: url(../fonts/neuropol/neuropol-x.ttf);
}

@font-face {
    font-family: Futura Bold;
    src: url(../fonts/futura/Futura-Bold.ttf);
}