body, html{
	font-family: Raleway;
	font-size: 13pt;
	font-weight: 300 !important;
}

.menu li a{
	color: #fff;
	font-size: 0.8em;
}

.phrase{
	margin-top: 100px;
}

.logo {
	font-family: Neuropol;
	font-size: 3em;
	color: #fff;
	text-align: center;
}
.logo > span{
	font-size: 0.3em;
}

h1{
	font-family: Ostrich Sans Inline;
	font-size: 5em;
	font-weight: normal;
	font-style: italic;
	color:#fff;
	margin-bottom: 10%;
}

.full-width {
   width: 100%;
   margin-left: auto;
   margin-right: auto;
   max-width: initial;
}

.header{
	background-color: #001017;
	background-size: cover;
	height: 100%;
	color: #fff;
	padding-top: 30px;
}

*[class^="prlx"] {
  position: absolute;
  width: 100%;
  height: 140%;
  top:0;
  left:0;
}

.prlx-1{
	background: url(../img/header.jpg) repeat;
	background-size: cover;
	filter:blur(0px);
	-o-filter:blur(0px);
	-ms-filter:blur(0px);
	-moz-filter:blur(0px);
	-webkit-filter:blur(0px);
	opacity: 0.2;
}

.prlx-2{
	background: url(../img/header2.jpg) repeat;
	background-size: cover;
}

.descr{
	border-left: 1px solid;
}

.icon{
	font-size: 2em;
	text-align: center;
	bottom: 0;
}

.caracteristicas{
	height: 350px;
	background: url(../img/texture.png) repeat;
	position: relative;
	overflow: hidden;
	background-color: #fff;
	text-align: center;
	padding-top: 50px;
}
.carac-title{
	font-family: Oswald;
	font-size: 2em;
	font-weight: 700;
}
.carac{
	margin-top: 40px; 
}
.caracteristicas i{
	font-size: 4em;
	color: #00587E;
	margin-bottom: 30px;
}
.caracteristicas p{
	font-size: 1em;
}

.sec{
	height: 300px;
	position: relative;
	overflow: hidden;
	color: #fff;
}